<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<MailMessage>
		<Port name="Port">587</Port>
		<SMTPGmail name="SMTPGmail">smtp.gmail.com</SMTPGmail>
		<SMTPEmail name="SMTPEmail">agroculturedrons@gmail.com</SMTPEmail>
		<SMTPPassword name="SMTPPassword">aahjbhhrgixfgixd</SMTPPassword>
	</MailMessage>
</configuration>